<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <script src="/js/user.js" defer></script>
    <script src="/js/shared-js/logout.js" defer></script>
    <script src="/js/shared-js/menu.js" defer></script>
    <script src="/js/shared-js/discover.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>SERVEbite</title>

    <link rel="shortcut icon" href="/images/logo-icon.png" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <a class="img-container" href="/auth/login">
                    <img src="../../images/logo.png" alt=""></img>
                </a>
                <div class="menu">
                    <input class="menu-check" type="checkbox" name="" id="">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul class="customer">
                    <li class="<%= currentPage === 'products' ? 'current' : ''%>">
                        <a href="/protected/user/products">Products</a>
                    </li>
                    <li class="<%= addedToCart ? 'cart-nav' : ''%> <%= currentPage === 'cart' ? 'current' : ''%>">
                        <a href="/protected/user/cart" data-count="<%= addedToCart ? addedToCart.length : ''%>">Cart</a>
                    </li>
                    <li class="<%= currentPage === 'history' ? 'current' : ''%>">
                        <a href="/protected/user/order">History</a>
                    </li>
                    <%- include('../partials/account')%>
                </ul>
            </nav>
        </header>
        <%- body %>
    </div>
</body>

</html>